.tile {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  background: #eee4da;
    
  /* Font stuff */
  font-size: 55px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.tile.empty {
  background: rgba(238,228,218,.35);
}

.tile-4 {
  z-index: 4;
  background: #eee1c9;
}
/* .tile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */